 <div class="container">
   <div class="row">
     <div class="col-xs-3">
     <%= render 'users/userinfo', {user: @user, book: @book} %>
     </div>
     <div class="col-xs-9">
     <h1>Users</h1>
       <div class="table-responsive">
	        <table class="table">
           <thead>
             <tr>
               <th>image</th>
               <th>name</th>
               <th></th>
             </tr>
           </thead>
           <tbody>
           <% @users.each do |user| %>
             <tr>
               <td><%= attachment_image_tag user, :profile_image_id, :fill, 25, 20, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size:'50x50' %></td>
               <td><%= user.name %></td>
               <td><%= link_to "Show", user_path(user) %></td>
             </tr>
           <% end %>
           </tbody>
         </table>
       </div>
       </div>
       </div>
     </div>
   </div>
 </div>